.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #590c69;
}

.form_box{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #590c69;
}

.heading {
  font-size: 35px;
  color: white;
}

.container {
  width: 40%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-sizing: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.form_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}
.form_heading{
  font-size: 20px;
  margin-bottom: 0 0 5px 0;
  color: #590c69; 
}

.input {
  width: 80%;
  flex-grow: 1;
  height: inherit;
  outline: none;
  border: 1px solid #590c69;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  padding-left: 5px;
  box-shadow: 0px 2px 35px 6px rgba(203, 124, 239, 0.3);
}

.submit_btn {
  font-size: 16px;
  font-weight: bold;
  width: 20%;
  height: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #590c69;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.task_container {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 5px 0;
  background-color: #e2dddd74;
  border-radius: 5px;
  box-sizing: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check_box {
  cursor: pointer;
  font-size: 6px;
  outline: none;
}
.complete{
  outline: none;
  border: none;
  background: rgb(193, 192, 192);
  color:  transparent;
  font-size: 12px;
  cursor: pointer;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
}
.complete:hover{
  background: green;
  color:  white;
}
.completed{
  outline: none;
  border: none;
  background: green;
  color:  white;
  font-size: 12px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
}

.task_text {
  flex-grow: 1;
  padding: 0 10px;
}

.edit_task{
 
  outline: none;
  border: none;
  background: transparent;
  color:  #00008B;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  border-radius: 4px;
  transition: 0.3s all ease-in-out;
}
.edit_task:hover{
  background: #00008B;
  color: white;
}
.remove_task {
  outline: none;
  border: none;
  background: transparent;
  color: rgba(203, 8, 8, 0.775);
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  border-radius: 4px;
  transition: 0.3s all ease-in-out;
}
.remove_task:hover{
  background: rgba(203, 8, 8, 0.775);
  color: white;
}

.no_tasks {
  width: 100%;
  height: 60px;
  font-size: 18px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: #cecbcb75;
  color: #252525a4;
}


/* responsiveness */
@media only screen and (max-width: 760px) {
  .form_box{
    flex-direction: column;
    align-items: center;
  }
  .container{
    width:70vw;
  }
}
@media only screen and (max-width: 400px) {
  .heading {
    font-size: 20px;
  }
  .container{
    width:90vw;
  }
}